html, body {
  font-size: 14px;
  font-weight: 400;
  font-family: PingFangSC-Regular,PingFang SC;
}

/****
  全局title
****/
.title-one {
  h5 {
    display: flex;
    align-items: center;
    color: #70CAEE;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    .title-icon {
      margin-right: 4px;
    }
    .point {
      display: inline-block;
      width: 5px;
      height: 5px;
      line-height: 16px;
      border-radius: 50%;
      background-color: #70CAEE;
      margin-right: 10px;
    }
  }
  &.small {
    h5 {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .title-border {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #172D4C;
    margin-top: 10px;
    border-radius: 5%;
    .gap {
      position: absolute;
      top: 0;
      background-color: #4086E0;
      width: 20px;
      height: 3px;
    }
    .left-gap {
      left: 0;
    }
    .right-gap {
      right: 0;
    }
  }
}




/****
  container样式
****/
.container {
  display: flex;
  height: 100%;
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    .title-wrapper {
      position: relative;
      display: flex;
      height: 40px;
      margin-bottom: 20px;
      .farm-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 40px;
        line-height: 40px;
        color: #f0f0f0;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        background: linear-gradient(
          270deg,
          rgba(12, 30, 57, 0.2) 0%,
          rgba(20, 41, 79, 1) 50%,
          rgba(18, 41, 81, 0.1) 100%
        );
      }
    }
  }
}

/****
  选项卡切换样式
****/

/****
  所有的边框样式
****/
.border-icon {
  background: url('../image/border_icon.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon1 {
  background: url('../image/border_icon1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon2 {
  background: url('../image/border_icon2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon3 {
  background: url('../image/border_icon3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon4 {
  background: url('../image/border_icon4.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon5 {
  background: url('../image/farm_detail_border.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon6 {
  background: url('../image/border_icon6.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon7 {
  background: url('../image/border_icon7.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon8 {
  background: url('../image/border_icon8.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon9 {
  background: url('../image/tab_bg_icon.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// 农场简介边框
.border-icon10 {
  background: url('../image/border-icon10.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// 监控视频部分的边框
.border-icon11 {
  background: url('../image/border-icon11.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon12 {
  background: url('../image/border-icon12.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon13 {
  background: url('../image/border-icon13.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon14 {
  background: url('../image/border-icon14.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/****
  滚动列表的相关样式
****/
.table-title {
  color: #70CAEE;
  font-size: 14px;
  font-weight: 500;
}
