html, body {
  font-size: 14px;
  font-weight: 400;
  font-family: PingFangSC-Regular,PingFang SC;
}

/****
  滚动条样式
****/
::-webkit-scrollbar {
  // width: 4px;
  // height: 4px;
  display: none;
}
/*滑动轨道*/
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: none;
}
/*滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, .75)
}
/*滑块效果*/
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
  background-color: rgba(85, 85, 85, 0.4);
}

/****
  全局title
****/
.title-one {
  h5 {
    display: flex;
    align-items: center;
    color: #70CAEE;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    .title-icon {
      margin-right: 4px;
    }
    .point {
      display: inline-block;
      width: 5px;
      height: 5px;
      line-height: 16px;
      border-radius: 50%;
      background-color: #70CAEE;
      margin-right: 10px;
    }
  }
  &.small {
    h5 {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .title-border {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #172D4C;
    margin-top: 10px;
    border-radius: 5%;
    .gap {
      position: absolute;
      top: 0;
      background-color: #4086E0;
      width: 20px;
      height: 3px;
    }
    .left-gap {
      left: 0;
    }
    .right-gap {
      right: 0;
    }
  }
}

/****
  container样式
****/
.container {
  display: flex;
  height: calc(100% - 80px);
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 20px 20px 20px;
    .title-wrapper {
      position: relative;
      display: flex;
      height: 40px;
      .farm-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 40px;
        line-height: 40px;
        color: #f0f0f0;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        background: linear-gradient(
          270deg,
          rgba(12, 30, 57, 0.2) 0%,
          rgba(20, 41, 79, 1) 50%,
          rgba(18, 41, 81, 0.1) 100%
        );
      }
    }
  }
}

/****
  选项卡切换样式
****/

/****
  所有的边框样式
****/
.border-icon {
  background: url('../image/border_icon.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon1 {
  background: url('../image/border_icon1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon2 {
  background: url('../image/border_icon2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon3 {
  background: url('../image/border_icon3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon4 {
  background: url('../image/border_icon4.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon5 {
  background: url('../image/farm_detail_border.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon6 {
  background: url('../image/border_icon6.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon7 {
  background: url('../image/border_icon7.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon8 {
  background: url('../image/border_icon8.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon9 {
  background: url('../image/tab_bg_icon.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// 农场简介边框
.border-icon10 {
  background: url('../image/border-icon10.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// 监控视频部分的边框
.border-icon11 {
  background: url('../image/border-icon11.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon12 {
  background: url('../image/border-icon12.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon13 {
  background: url('../image/border-icon13.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon14 {
  background: url('../image/border-icon14.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon15 {
  background: url('../image/border-icon15.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon16 {
  background: url('../image/border-icon16.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// 球机摄像头
.border-icon17 {
  background: url('../image/border-icon17.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// 趋势图
.border-icon18 {
  background: url('../image/border-icon18.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-icon19 {
  background: url('../image/border-icon19.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/****
  滚动列表的相关样式
****/
.table-title {
  color: #70CAEE;
  font-size: 14px;
  font-weight: 500;
}

/****
  视频播放器样式
****/
video {
  object-fit: fill;
  &:focus {
    outline: none;
  }
}

/****
  预警颜色定义
****/
.up-danger {
  color: #FF6E6E;
}

.low-danger {
  color: #7ED321;
}

// 状态颜色
.status-one {
  color: #FF6E6E;
}

.status-two {
  color: #7ED321;
}

.status-three {
  color: #9B9B9B;
}